<form id="loginForm" onsubmit="event.preventDefault(); login();">
    <!-- <div class="imgcontainer">
      <img src="img_avatar2.png" alt="Avatar" class="avatar">
    </div> -->
    <div style="margin-top: 15vh;" class="container">
        <h1 style="margin-bottom: 40px;"><b>LOGIN</b></h1>
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
        <button id="userLogin" class="btn btn-primary"         type="submit" style="padding: 10px; margin-right: 10px; margin-top: 20px; width: 200px;"    >Login</button>
        <button class="btn btn-outline-primary" type="button" style="padding: 10px; margin-top: 20px; width: 200px;"                        onclick="changeMenu('register')" >Create Account</button>
        <!-- <div style="text-align: right">
            <button class="btn btn-primary"         type="submit" style="padding: 10px; margin-right: 10px; margin-top: 20px; width: 200px;"    >Login</button>
            <button class="btn btn-outline-primary" type="button" style="padding: 10px; margin-top: 20px; width: 200px;"                        onclick="changeMenu('register')" >Create Account</button>
        </div> -->
    </div>
</form>