<div class="container">
    <h2>Database table names:</h2>
    <ul>
        <li>Users</li>
        <li>Posts</li>
        <li>Comments</li>
    </ul>
    <br>
    <h2>Full functionality video of the project:</h2>
    <video controls style="width: 100%; box-shadow: 1px 2px 9px #000" src="/images/video.mp4"></video>
    <br>
    <br>
    <h2>HTML validation test</h2>
    <img style="width: 100%; box-shadow: 1px 2px 9px #000" src="/images/html test.PNG" alt="html_validation">
    <br>
    <br>
    <h2>CSS validation test</h2>
    <img style="width: 100%; box-shadow: 1px 2px 9px #000" src="/images/css test.PNG" alt="css_validation">
    <br>
    <br>
    <br>
    <br>
    <h2>Javascript functionality test</h2>
    <h3>Login Test</h3>
    <img style="width: 100%; box-shadow: 1px 2px 9px #000" src="/images/login test.PNG" alt="login_validation">
    <br>
    <h3>Search Test</h3>
    <img style="width: 100%; box-shadow: 1px 2px 9px #000" src="/images/search test.PNG" alt="search_validation">
</div>