<div class="row">
    <nav id="navbarMain" class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a style="color: white; margin-left: 30px;" class="navbar-brand" onclick="changeMenu('newsfeed')" href="#newsfeed">Social App</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle dropdown-design" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-cog"></span></a>
                        <ul class="dropdown-menu" style="position: relative; text-align: center">
                            <!-- <li><a class="side-text-color" onclick="changeMenu('settings')" href="#settings"><b>Settings</b></a></li> -->
                            <li><a class="side-text-color" onclick="changeMenu('logout')" href="#logout"><b>Logout</b></a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav menu navbar-right">
                    <li><a onclick="changeMenu('newsfeed')" href="#newsfeed"><b>Newsfeed</b></a></li>
                    <li><a onclick="changeMenu('report')" href="#report"><b>Report</b></a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
